body {
	background-image: url(img1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: relative;

}
.login-page{
	width:100 px;
	padding:10% 0 0;
	margin: auto;
}
.form{
	background-color:#ffffff;
	background-size: cover;
	background-position: center;
	max-width: 190px;
	padding:49px;
	margin:0 auto 100px;
	text-align:center;
}
.form input{
	font-family: "sans-serif";
	width:100;
	 margin:0 0 15px; 
	padding: 15px;
	box-sizing:border-box;
	font-size: 14px;
	border:0;
	outline: 1;
	background:#f2f2f2f2;
}
.form button{
	font-family: ""Times New Roman", Times, serif";
	cursor:pointer;
	border:0;
	background-color: #4caf50;
	color:#ffff;
	padding: 15px ;
	width:100px;
	font-size: 14px;
	outline: 0;
	text-transform: uppercase;
	position: center;

}
.form button:hover,.form button active{
	background:#43A407;A
}
.form .reg-form{
	display:none;
}
.avatar{
	position: relative;
	width: 100px;
	height:100px;
	border-radius: 50%
	padding:50%;
	//top:-50px;
	left:calc(50%-50px);
}